/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  background: #333;
  color: white;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 4rem 0;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
  color: blue;
}

#skills {
  background: #f4f4f4;
  padding: 2rem 0;
}

#skills h2 {
  margin-bottom: 2rem;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.images img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.images img:hover {
  transform: scale(1.1);
}

.tools {
 
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  color: blue;
}


.tools img {
  
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.tools img:hover {
  transform: scale(1.1);
} */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

header {
  background: #333;
  color: white;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 4rem 0;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
  color: black;
}

#skills {

  background: black;
  padding: 2rem 0;
  color: black;
}

#skills h2 {
  margin-bottom: 2rem;
  color: white;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.images img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.images img:hover {
  transform: scale(1.1);
}

.tools {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  color:white;
}

.tools img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.tools img:hover {
  transform: scale(1.1);
}
